
@charset "UTF-8";

html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: navy; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: red; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: black; 
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}

.self {
	width:500px;
	float:left;
	padding-top:11px;
	margin-left:0;
	margin-bottom:15px;
	margin-left:38px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(images/icn-ad.gif);
}

.self ul li.mail {
	background-image:url(images/icn-mail.gif);
}

.self ul li.tel {
	background-image:url(images/icn-tel.gif);
}


.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
}
.self ul li {
	background-repeat: no-repeat;
	padding-left:0;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}
